<div class="block">
<h3>Welcome <%=current_user.email%>. These are your lists</h3>
</div>
<div class="span9">
	<%= form_for(@list) do |l| %>
		<div class="field">
			<%= l.label :name, 'What is the name of your new list?'%>
			<%= l.text_field :name %>
		</div>
		<div class="field">
			<%= l.label :description, 'Want to add a description?'%>
			<%= l.text_field :description %>
		</div>
		<div class="actions">
			<%= l.submit %>
		</div>
	<% end %>
</div>

<div class="span6">
	<ul>
		<% current_user.lists.each do |list| %>
			<li><%= link_to list.name, list_path(list) %>  <%= link_to "EDIT this list", list, method: :edit, :class => "btn btn-mini"%> |  <%= link_to "delete this list", list, method: :delete, :class => "btn-mini btn-danger"%></li>
		<% end %>
	</ul>
</div>