<h1><%= @list.name %></h1>

<%= @list.description %>

<%= form_for [@list, @task] do |l| %>
	<div class="field">
		<%= l.label :name, 'Name'%>
		<%= l.text_field :name %>
		
	</div>
	<div class="field">
		<%= l.label :due_date, 'Date'%>
		<%= l.text_field :due_date %>
	</div>
	<div class="field">
		<%= l.label :priority, 'Priority'%>
		<%= l.text_field :priority %>
	</div>
	<div class="actions">
		<%= l.submit %>
	</div>
<% end %>
<ul>
	<% @tasks.each do |list| %>
		<li><%= list.name %></li>
	<% end %>
</ul>