<h1><%= @list.name %></h1>

<%= @list.description %>

<%= form_for [@list, @task] do |l| %>
	<div class="field">
		<%= l.label :name, 'Name'%>
		<%= l.text_field :name %>
		
	</div>
	<div class="field">
		<%= l.label :due_date, 'Date'%>
		<%= l.text_field :due_date %>
	</div>
	<div class="field">
		<%= l.label :priority, 'Priority'%>
		<%= l.text_field :priority %>
	</div>
	<div class="actions">
		<%= l.submit %>
	</div>
<% end %>
<ul>
	<% @list.tasks.each do |task| %>
		<li>
			<%= task.name %> 
			| <%= link_to task_completed_button_text(task.completed), toggle_completed_list_task_path(@list, task), :method => :put, :class => task_completed_button_style(task.completed) %>  
			| <%= link_to "Delete", list_task_path(@list, task), :class => "btn btn-danger", :method => :delete %>
		</li>
	<% end %>
</ul>