<!DOCTYPE html>
<html>
<head>
  <title>Todo(ne)</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">
		    	To Do(ne)
		    </a>
		    <ul class="nav pull-right">
					<% if user_signed_in? %>
						<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
					<% else%>
			    	<li><%= link_to "Sign up", new_user_registration_path %></li>
		   			<li><%= link_to "Sign in", new_user_session_path %></li>
					<% end %>

			</div>
		</div>
	</div>
	<div class="container">
		<% if notice %>
			<p class="alert alert-info"><%= notice %></p>
		<% end %>
		<% if alert %>
	  	<p class="alert"><%= alert %></p>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
